<div>
  <div id="map" style='width: 1200px; height: 800px;'></div>
</div>
<%current_lat = request.location.latitude%>
<%current_lng = request.location.latitude%>
<% all_locations =[]%>
<% @users.each do |user| %>
  <%lat_lng = [user.latitude]+[user.longitude] %>
  <% name = user.email %>
  <% user_image = user.avatar.present? ? user.avatar.url(:thumb) : "/assets/map-marker.png" %>
  <% all_locations << lat_lng+[name]+[user_image] %>
<%end %>
<div class='data-var' data-lat="<%= request.location.latitude%>" data-lng="<%= request.location.longitude%>" data-location='<%= raw all_locations %>'></div>